.modal-main {
  position: absolute;
  background: whitesmoke;
  height: max-content;
  top: 9.3rem;
  width: 15%;
  padding: 10px;
  box-shadow: 0 3px 7px #0000004d;

  p{
    width: 100%;
    font-size: 11px;
  
  }

  &::before{
    content: '';
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    position: absolute;
    top: -.5rem;
    left: 6.5rem;
    background: whitesmoke;
  }


}
