.modal-main {
  position: fixed;
  background: grey;
  height: max-content;
  width: max-content;
  top: 9rem;

  &::before{
    content: '';
    height: 15px;
    width: 15px;
    transform: rotate(45deg);
    position: fixed;
    top: 8.5rem;
    left: 40.1rem;
    background: grey;
  }
}
