.App{
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;

  header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;

    nav{
      margin: 0 50px;
      display: flex;
      width: 50%;
      justify-content: space-evenly;
    }
  }
}
